*
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



header  {
    grid-column: 1 / span 4;
    grid-row: 1/ span 2;
}

footer {
    grid-column: 1 / span 4;
    grid-row:  11 / 12;
}

main {
    grid-column: 1 /span 4;
    grid-row: 2 /span 10;
}

nav {
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 5.5rem;
    background-color: rgba(26, 160, 160, 0.686);
    margin: 0%;
    
}


@keyframes titulo_animacion{
    0%{ height: 0%; }
    1%{ width: 100%;
    background-color: rgb(42, 130, 136); }
    0%{ width: 0%}
    100%{ width:100%;
    background-color:rgb(93, 211, 238);}
}

section{
    padding: 150px auto auto auto;
    width: 50%;
    height: 100%;
    background-color: rgb(167, 225, 238);
    animation-name:titulo_animacion;
    animation-iteration-count:infinite;
    animation-timing-function: ease-out;
    animation-duration: 9s;
    animation-delay: 0s;
}

@keyframes animacion_footer{
    0%{ height: 0%; }
    1%{ width: 100%;
    background-color: rgb(42, 130, 136); }
    0%{ width: 0%}
    100%{ width:100%;
    background-color:rgb(93, 211, 238);}

    }
.footer__Background{
    width: 100%;
    height: 300%;
    background-color: rgb(167, 225, 238);
    animation-name: animacion_footer;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-delay: 0s;
}



@media screen and (min-width:1024px) {


    .grid-container {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: repeat(12, 80px);

    }

    .grid-item1 {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: (6, 100px);
    }

    .Sticky {
        position: sticky;
        top: 0px;
        left: 0px;
    }



        .grid-item1 {
            grid-column: 1 /span 2;
        }
    }

    .Logohome{
        margin-left: 30px;
        grid-column-start: 1/ 2;
        grid-column-end: 2;
    }

    .Navegador {
        display: flex;
        font-size: 20px;
        margin: 10px 0px 0px 0px;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 1;
        background-color: rgba(26, 160, 160, 0.686);
    }

    .Navegador__Lista {
        text-decoration: none;
        color: black;
    }

    .Navegador li {
        display: inline;
    }

    .texto__iphone {
        display: flex;
        flex-shrink: 1;
        margin-top: 0px;
        justify-content: center;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 10px;
        padding: 10px;
    }

    .titulo__iphone {
        display: flex;
        justify-content: center;
        margin: 50px 0px 0px 0px;
        padding: auto;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 30px;
    }

    .imagen__iphone {
        display: flex;
        justify-content: center;
        
    }



    .imagen__fondo {
        display: flex;
        justify-content: center;
        padding-top: 8px;

    }

    .footer__Background {
        background-color: rgba(26, 160, 160, 0.686);
        margin: 0%;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .footer__Copyright {
        display: flex;
        color: black);
        justify-content: space-between;
        padding-top: 0px;
        padding-right: 30px;
        padding-bottom: 0px;
        padding-left: 30px;
    }


    .footer__CopyTexto {
        margin-top: 16px;
        margin-right: 20px;
        margin-bottom: 16px;
        margin-left: 20px;
        font-style: italic;
        font-weight: normal;
    }

    .imgredes{
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 10px;
        width: 25px;
        height: 25px;
    }

    .footer__Redes {
        margin: 0px
    }

    .footer__Titulo {
        margin: 5px
    }

    .footer__Descripcion {
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    .footer__Contacto {
        margin: 15px 10px 5px 5px;
        text-decoration-style: none;
        color: rgb(0, 0, 0);
        font-weight: normal;
    }

    .footer__Texto {
        display: flex;
        justify-content: center;
        margin: 5px;
        flex-shrink: 3;
    }

}

/* media queries cel*/

@media screen and (max-width:646px) {
    .grid-container {
        display: grid;
        grid-template-columns: 150px ;
        grid-template-rows: repeat(12, 80px);

    }

    .grid-item1 {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: (6, 100px);
    }

    .Sticky {
        position: sticky;
        top: 0px;
        left: 0px;
    }



        .grid-item1 {
            grid-column: 1 /span 2;
        }
    }

    .Logohome{
        margin-left: 30px;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .Navegador {
        display: flex;
        font-size: 20px;
        margin: 10px 0px 0px 0px;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 1;
    }

    .Navegador__Lista {
        text-decoration: none;
        color: black;
    }

    .Navegador li {
        display: inline;
    }

    .texto__iphone {
        display: flex;
        flex-shrink: 1;
        margin-top: 0px;
        justify-content: center;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 10px;
        padding: 10px;
    }

    .titulo__iphone {
        display: flex;
        justify-content: center;
        margin: 50px 0px 0px 0px;
        padding: auto;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 30px;
    }

    .imagen__iphone {
        display: flex;
        justify-content: center;
        
    }



    .imagen__fondo {
        display: flex;
        justify-content: center;
        padding-top: 8px;

    }

    .footer__Background {
        background-color: rgba(26, 160, 160, 0.686);
        margin: 0%;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .footer__Copyright {
        display: flex;
        color: black);
        justify-content: space-between;
        padding-top: 0px;
        padding-right: 30px;
        padding-bottom: 0px;
        padding-left: 30px;
    }


    .footer__CopyTexto {
        margin-top: 16px;
        margin-right: 20px;
        margin-bottom: 16px;
        margin-left: 20px;
        font-style: italic;
        font-weight: normal;
    }

    .imgredes{
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 10px;
        width: 25px;
        height: 25px;
    }

    .footer__Redes {
        margin: 0px
    }

    .footer__Titulo {
        margin: 5px
    }

    .footer__Descripcion {
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    .footer__Contacto {
        margin: 15px 10px 5px 5px;
        text-decoration-style: none;
        color: rgb(0, 0, 0);
        font-weight: normal;
    }

    .footer__Texto {
        display: flex;
        justify-content: center;
        margin: 5px;
        flex-shrink: 3;
    }
 
}